<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.uml"
            id="pusztai.thomas.architecture.fog.uml.gen.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="pusztai.thomas.architecture.fog.uml.gen.ui.popupMenus.AcceleoGenerateFogUML2CodeAction"
               enablesFor="+"
               id="pusztai.thomas.architecture.fog.uml.gen.ui.popupMenus.acceleoGenerateFogUML2CodeAction"
               icon="icons/default.gif"
               label="Generate Fog UML 2 Code"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
